@import 'app';
@import '~slick-carousel/slick/slick';
@import '~slick-carousel/slick/slick-theme';
body {
    background: #F2F2F2;
    font-family: 'Montserrat', sans-serif;
}

.text-pinky {
    color: #FF0055;
}

.text-pinky:hover {
    color: #FF0055 !important;
}

.d-grid {
    display: grid;
}

.categories-site_products .shop-subject {
    height: 440px;
    overflow-y: scroll;
}

.shop-subject li,
.shop-subject {
    cursor: pointer;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #5E585A;
    font-weight: 600;
}

.mobile-avatar {
    top: 4rem;
    left: 2rem;
}

.rounded-25 {
    border-radius: 25px;
}

.rounded-11 {
    border-radius: 11px;
}

.cursor-pointer {
    cursor: pointer;
}

.favorite {
    right: 20px;
    top: 20px;
    z-index: 999;
    cursor: pointer;
    &:hover path,
    &.active path {
        fill: #FF0055;
    }
    &.btn-outline-danger:hover,
    &.btn-outline-danger.active {
        path {
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            stroke: #fff
        }
    }
}

.divide {
    width: 100%;
    margin: 3em 0;
    height: 5em;
    background: #848484;
}

.brand-logo {
    background-repeat: no-repeat !important;
    width: 100%;
    height: 100px;
}

.catalog__ategory {
    height: 100%;
}

.footer_links>ul li,
a {
    list-style: none;
    line-height: 35px;
    color: #544837;
    text-decoration: none;
}

.copyright_text_footer {
    color: #5E6366;
    font-size: 12px;
    line-height: 16px;
}

.categories-site_products {
    background-color: #FCFCFC;
}

.product-name {
    color: #000000;
    font-size: 14px;
    text-transform: capitalize;
}

.about-product {
    color: #4A4A4A;
    font-size: 12px;
    font-weight: normal;
}

.product-price {
    color: #737373;
    font-size: 22px;
    font-weight: 500;
    transition: 0.8s;
    transform: scale(1);
}

.title {
    font-size: 40px;
    color: #D2D2D2;
    font-weight: bold;
}

.line-test__category::before {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    background: #FF0055;
    margin-top: -7px;
    margin-left: -0%;
}

.fix_modal-line::before {
    width: 91% !important;
}

.line-test::before {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    background: #FF0055;
    position: absolute;
    top: -2%;
    left: 0;
}

.color_select {
    width: 34px;
    height: 34px;
    background: #E6E6E6;
    float: left;
}

.lil-color_select {
    width: 28px;
    height: 28px;
}

.color_select {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.sneaker-pic__manin {
    width: 585px;
    height: 375px;
}

.snk-capture {
    background-repeat: no-repeat !important;
    width: 90px;
    height: 90px;
}

.snk-info__type,
.snk-info__market,
.color-and-size__size-number>label {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #888688;
}

.second-column__modal {
    display: inline-block;
}

.snk-size-caption {
    font-weight: 100px !important;
}

.snk-info__market_modal {
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #878786;
}

.snk-info__name,
.snk-info__name_modal {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #464646;
}

.snk-info__name_modal {
    font-size: 18px !important;
    line-height: 22px;
}

.snk-info__market {
    font-weight: 500 !important;
}

.snk-amount__numb {
    display: inline-block;
}

.snk-amount__numb,
.snk-price__modal,
.summ-price__modal {
    width: 28px;
    height: 28px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #878786;
}

.summ-price__modal {
    color: #000 !important;
    font-weight: 700 !important;
}

.shop-table__captions {
    font-family: 'Montserrat';
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    text-transform: uppercase;
}

.delivery-adress__modal {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #878786;
}

.plus-minus {
    font-family: 'Arial';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 41px;
    color: #BBBBBB;
}

.amount {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #484848;
}

.info-product_footer {
    border-top: 2px solid #FF0055;
}

.info-prod_footer__bttn button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
}

.about-prod__caption {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
}

.about-prod__info {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 13px;
    line-height: 18px;
    color: #888688;
}

.purchase-box {
    border-bottom: 46px solid #848484;
}

.market__head-banner {
    height: 235px;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.change-bttn {
    font-size: 10px;
}

.change-bttn:hover {
    background: none;
    color: #000;
}

.banner__name-market {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    color: #2E2D31;
}

.bttn-alignment {
    height: 60px;
}

.city-checkbox {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

.seller-bttns {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

.status-success {
    border-bottom: 10px solid #03D087 !important;
    color: #03D087 !important;
}

.status-cancled {
    border-bottom: 10px solid #FF0055 !important;
    color: #FF0055 !important;
}

.status-preparing {
    border-bottom: 10px solid #FF511A !important;
    color: #FF511A !important;
}

.copywright {
    height: 120px;
}

.copywright-txt {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14.0834px;
    color: #1C1C1B;
}

.market-info__caption {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 43px;
    color: #2E2D31;
}

.market-info__value {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #2E2D31;
}


/* Status */

.line-test__order-cancled::before {
    background: #FF0055;
    content: "";
    width: 100%;
    height: 10px;
    position: absolute;
    left: 0;
    top: -2%;
}

.line-test__order-success::before {
    background: #03D087;
    content: "";
    width: 100%;
    height: 10px;
    position: absolute;
    left: 0;
    top: -2%;
}

.line-test__order-preparing::before {
    background: #FF511A;
    ;
    content: "";
    width: 100%;
    height: 10px;
    position: absolute;
    left: 0;
    top: -2%;
}

.order-agree__txt {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    color: #6E7A90;
    font-size: 10px;
}

.tnx-txt {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: #F20051;
}

.categories__modal {
    height: 164px;
}

.categories__modal-markets {
    height: 380px;
}

.sort-checkbox__category {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #1C1C1B;
}

.captions-of__modal {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #000000;
}

.categories__modal::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #D62929;
}

.categories__modal::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #F5F5F5;
}


/*Shuhrat*/

.mobile-nav {
    position: fixed;
    bottom: 0;
    z-index: 9966;
    height: 56px;
}

.mobile-nav theme {
    height: 2rem;
}

.mobile-nav .border-right,
.mobile-nav .border-left {
    border-color: #fff !important;
    border-width: 1px !important;
}

.add-good theme {
    height: 3rem;
    position: absolute;
    top: -2rem;
}

.under-menu-category i {
    font-size: 15px;
}

.main-search {
    width: 100% !important;
    height: 35px;
    font-size: 14px;
    border: 1.17647px solid #FF0055;
    border-radius: 11px;
}

.categories__modal-markets::-webkit-scrollbar,
.categories__modal::-webkit-scrollbar {
    width: 10px;
    border-radius: 15px;
}

.categories__modal-markets::-webkit-scrollbar-track,
.categories__modal::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

.categories__modal-markets::-webkit-scrollbar-thumb,
.categories__modal::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 15px;
}

.categories__modal-markets::-webkit-scrollbar,
.categories__modal::-webkit-scrollbar {
    width: 10px;
    border-radius: 15px;
}

.categories__modal-markets::-webkit-scrollbar-track,
.categories__modal::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

.categories__modal-markets::-webkit-scrollbar-thumb,
.categories__modal::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 15px;
}

.sample-carousel .item {
    height: 8rem;
}

.owl-theme .owl-dots .owl-dot.active span {
    background: #FF0055 !important;
}

button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.markets theme {
    height: 9rem;
    width: 11rem !important;
}

.market-name::after {
    content: '';
    width: 15px !important;
    height: 15px !important;
    background-image: url(/theme/goto.svg);
    background-size: cover;
    position: absolute;
    top: 29%;
    opacity: 0;
    transition: 0.5s;
}

.markets .item:hover .market-name::after {
    opacity: 1;
}

.category-dropdown::after {
    content: '';
    position: absolute;
    left: -0.5rem;
    top: 0.8rem;
    margin: 0 !important;
    border-top: 10px solid #FF0055;
}

.change-avatar-icon {
    bottom: 2rem;
    right: 2rem;
}

.customer-tab .nav-link {
    color: #6C757D;
}

.customer-tab .active {
    color: #FF0055 !important;
}

.customer-tab .active:before {
    content: '';
    height: 5px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #C4C4C4;
}

.color-active {
    position: relative;
}

.color-active::before {
    content: "";
    position: absolute;
    left: -3px;
    top: -2px;
    border-radius: 7px;
    height: 40px;
    width: 40px;
    border: 2px solid #FF0055;
}

.product-size:hover {
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

.quantyty {
    background: #F2F2F2;
}

.quantyty:focus {
    box-shadow: none;
    background: #F2F2F2;
}

@media only screen and (max-width: 991px) {
    .line-test__category::before {
        height: 0;
    }
    body {
        background: #fff;
    }
    .main-search {
        width: 100% !important;
    }
    .filter-btn,
    .search-btn {
        background: none !important;
        position: absolute;
    }
    .search-btn {
        left: 0;
    }
    .filter-btn {
        right: 0;
    }
}

@media only screen and (max-width: 768px) {
    .input_placeholder_style,
    .mobile-header {
        width: 100% !important;
    }
    .profile,
    .categories-site_products {
        background: #fff;
    }
    .market-info__caption {
        font-size: 22px;
    }
    .title {
        font-size: 15px;
        text-align: center;
    }
    .mobile-nav--title {
        font-size: 9px;
        font-weight: 500;
    }
    #main-slider .carousel-inner {
        border-radius: 25px;
    }
}

@media only screen and (max-width: 375px) {
    .change-bttn {
        display: flex;
    }
    .price-place .custom-bttn {
        font-size: 10px;
    }
}

@media only screen and (max-width: 350px) {
    .mobile-nav--title {
        display: none;
    }
}


/* Sasha*/

.btn-edit {
    border: 1px solid;
    padding: 0.25rem 1.15rem !important;
    font-size: 13px;
}

.edit-store-logo {
    top: 0.5rem;
}

.edit-name {
    top: 0.5rem;
    left: 1.5rem;
}

.change-banner {
    top: 0.5rem;
    right: 1.5rem;
}

.store-inf-label {
    font-size: 18px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background: none !important;
}

.btn {
    font-weight: 500;
}

.order-cancled::before {
    background: #FF0055;
    content: "";
    width: 100%;
    height: 10px;
    position: absolute;
    left: 0;
    top: -2%;
}

.order-success::before {
    background: #03D087;
    content: "";
    width: 100%;
    height: 10px;
    position: absolute;
    left: 0;
    top: -2%;
}

.order-preparing::before {
    background: #FF511A;
    content: "";
    width: 100%;
    height: 10px;
    position: absolute;
    left: 0;
    top: -2%;
}

.store-image {
    object-fit: cover;
}


/* product-single*/

.custom-radius {
    border-radius: 11px;
}

.buy-modal {
    max-width: 700px !important;
}

.buy-modal .title {
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
}

.modal-item::before {
    content: '';
    position: absolute;
    top: 1.5rem;
    width: 94%;
    left: 2.5%;
    height: 1px;
    background: #BBBBBB;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

#prodCarousel .carousel-indicators .active {
    background-color: #FF0055;
    width: 13px;
    height: 13px;
}

.privacy-policy {
    color: #1498C1;
}

.btn-custom-fs {
    background-color: transparent;
    color: #888888;
    &:hover {
        color: inherit;
    }
    &::after {
        content: '';
        display: block;
        width: 2px;
        height: 75%;
        background-color: #FF0055;
        position: absolute;
        right: 0;
        z-index: 100;
        border-radius: 25%;
    }
}

.btn-group-fs input {
    border-left: 0;
}

@media only screen and (max-width: 576px) {
    .mb-custom-login {
        padding: 0 !important;
        .mb-pre--close {
            color: #545454;
        }
        .mb-pre--text {
            font-size: 12px;
        }
        .modal-dialog {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
        }
        .modal-content {
            height: 100%;
            width: 100%;
            border: 0;
            border-radius: 0;
        }
    }
    .mobile-header {
        width: 100% !important;
    }
    .t-neutral .spinner__button {
        padding: 0 5px !important;
        color: #fff !important;
    }
    .spinner {
        border-color: #fff !important;
    }
    #spinner-input,
    #price {
        color: #fff !important;
    }
    .mb-other-product {
        font-weight: 600;
        font-size: 18px;
        color: #9b9b9b;
        margin: 1em 0 2em 0em !important;
    }
    .divide {
        display: none;
    }
    .all-product {
        margin: 0 !important;
    }
}

@media only screen and (max-width: 620px) {
    .prod-controls {
        background: #FF0055;
        color: #fff;
    }
    .prod-controls .btn-danger {
        background: #fff;
        color: #FF0055;
    }
    .info-product_footer {
        border: none;
    }
}


/* Theming */


/* Aggressive reset to remove the initial spinner */

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

input[type="number"]:hover::-webkit-inner-spin-button,
input[type="number"]:hover::-webkit-outer-spin-button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}


/* The component (also includes vertical) */

.spinner {
    display: flex;
    border: 1.5px solid #B8B8B8;
    border-radius: 25px;
}

#spinner-input {
    background: transparent;
    flex: 1 1 50%;
    font-weight: 700;
}

.t-neutral .spinner__button {
    color: #BBBBBB;
    font-weight: 900;
    background: transparent;
    font-size: 21px;
    border: 0;
    padding: 0;
    flex: 1 1 25%;
    padding: 7px 16px;
}

.spinner:after {
    clear: both;
    content: "";
    display: table;
}

.spinner__label {
    display: block;
    text-align: center;
    width: 100%;
}

.spinner__button {
    cursor: pointer;
    display: block;
    font-size: 1em;
    font-weight: 700;
    padding: 1.1em 1em 1.15em;
    text-align: center;
    text-decoration: none;
    transition: background 0.4s ease;
}

.spinner__button--left {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.spinner__button--right {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.spinner__button--top {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.spinner__button--bottom {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.spinner--vertical .spinner__button {
    padding: 2em 1em;
    width: 100%;
}

.spinner__input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    border-radius: none;
    box-sizing: border-box;
    display: block;
    font-size: 1em;
    line-height: 1.5;
    text-align: center;
}


/* product single end */


/* order-story*/

.order-tab .nav-item .active {
    background: transparent;
    color: #FF0055;
    font-weight: bold;
}

.order-tab .nav-link {
    color: #99879D;
    font-weight: bold;
}

.status {
    position: relative;
}

.success-card .status::before {
    content: '';
    position: absolute;
    left: -3%;
    height: 100%;
    width: 5px;
    background: #0DC985;
}

.declined-card .status::before {
    content: '';
    position: absolute;
    left: -3%;
    height: 100%;
    width: 5px;
    background: #FF0055;
}

.in-road-card .status::before {
    content: '';
    position: absolute;
    left: -3%;
    height: 100%;
    width: 5px;
    background: #ffc107;
}


/* order-story end*/


/*favourite*/

.active-product .liked-icon {
    display: block;
    right: 0.5rem;
}


/*favourite end*/

// search
.search-result {
    position: absolute;
    width: 100%;
    top: 50px;
    background-color: #F2F2F2;
    z-index: 9;
}

.profile-pic {
    position: relative;
    display: inline-block;
}

.profile-pic:hover .deleteImage {
    display: block;
}

.deleteImage {
    padding-top: 7px;
    padding-right: 7px;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}

.deleteImage a {
    color: #000;
}

.profile-pic:hover .deleteAddedImage {
    display: block;
}

.deleteAddedImage {
    padding-top: 10px;
    padding-right: 10px;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}

.deleteAddedImage a {
    color: #000;
}

@media screen and (min-device-width: 320px) and (orientation: landscape) {
    #categories {
        height: 440px;
    }
}

// new
.add-product-secondary {
    .pic-item {
        border: 2px solid #fff;
        &:hover {
            cursor: pointer;
            border: 1px solid #FE0054;
        }
    }
}

.add-icon {
    position: absolute;
    top: -1rem;
    height: 2.5rem;
}

.pic-item-active {
    border: 1px solid #FE0054 !important;
}

#ok-loupe {
    box-shadow: none !important;
    border: 0 !important;
}

.categories-site_products {
     ::-webkit-scrollbar {
        width: 10px;
    }
     ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
     ::-webkit-scrollbar-thumb {
        background: #D2D2D2;
        border-radius: 11px;
    }
     ::-webkit-scrollbar-thumb:hover {
        background: #999;
    }
}

.att-show-row {
    gap: 1em;
}

.att-show {
    border: 2px solid #d2d2d2;
    border-radius: 7px;
    cursor: pointer;
    &:hover,
    &.active {
        border-color: $danger;
    }
}

.count-products {
    color: #b7b7b7;
}

.list-group-flush>.list-group-item>.list-group-row::after {
    content: "";
    border-bottom: 2px solid #EDEDED !important;
    height: 1px;
    display: block;
    position: absolute;
    bottom: 0;
    width: 70%;
}

.list-group-flush>.list-group-item {
    border: 0;
}

.count-products {
    color: #a0a0a0;
    font-weight: 400;
    font-size: 13px;
    display: block;
}

.category-mix a {
    line-height: 1.7;
}

#adressChange {
    z-index: 9999;
}

.store-icon {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    border-radius: 50%;
}

.store-banner {
    object-fit: cover;
}


/*mobile-filter*/

.mobile-filter select,
.mobile-filter button {
    font-size: 13px !important;
}

.mobile-filter .custom-select {
    background: #fff url(/storage/theme/icons/dashicons_arrow-down-alt2.svg) no-repeat right 0rem center/14px 14px;
    font-weight: 500;
}

#enableFilter {
    z-index: 9999;
}

#enableFilter .modal-dialog {
    max-width: 90% !important;
    position: absolute;
    right: 0;
    margin: 0;
}