@import 'app';;
@import '~slick-carousel/slick/slick';
@import '~slick-carousel/slick/slick-theme';

@mixin delete__svg {
    svg{
        fill: $secondary;
    }
    &:hover svg{
        fill: $white;
    }
  }

body {
    background: #F2F2F2;
    user-select: none;
    // padding-bottom: 50px;
}

.text-pinky {
    color: #FF0055 !important;
}

.text-skyblue {
    color: #6cb2eb !important;
}
.border-gray{
    border: 1px solid #dadada;
}
.orders.active {
    background-color: #FF0055 !important;
    color: white !important;
}

.text-pinky:hover {
    color: #FF0055 !important;
}

.d-grid {
    display: grid;
}

.categories-site_products .shop-subject {
    height: 440px;
    overflow-y: scroll;
}

.shop-subject li,
.shop-subject {
    cursor: pointer;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #5E585A;
    font-weight: 600;
}

.mobile-avatar {
    top: 10.5rem;
    left: 1.5rem;
}

.arrange {
    color: #fff !important;
    background-color: #FF0055 !important;
    border-color: #FF0055;
}

.font-weight-600 {
    font-weight: 600 !important;
}

.small-title {
    text-transform: lowercase !important;
}

.title-capitalize {
    text-transform: capitalize !important;
}

#comment::placeholder {
    font-weight: 500;
}

.mobile-filter .custom-select:focus {
    box-shadow: none !important;
}

.rounded-25 {
    border-radius: 25px;
}

.rounded-11 {
    border-radius: 11px;
}

.cursor-pointer {
    cursor: pointer;
}

.favorite {
    right: 20px;
    top: 20px;
    z-index: 999;
    cursor: pointer;
    &:hover path {
        stroke: #fff !important;
    }
    &.btn-outline-danger:hover,
    &.btn-outline-danger.active {
        path {
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }
        @media (hover:none) {
            color: #FF0055;
            border-color: #FF0055;
            background-color: #fff;
        }
    }
}

.favorite.btn-outline-danger:hover path {
    @media (hover: none) {
        stroke: #ff0055 !important;
    }
}

.favorite.btn-outline-danger.active path {
    stroke: #fff !important;
}

.divide {
    width: 100%;
    margin: 3em 0;
    height: 5em;
    background: #848484;
}

.brand-logo {
    background-repeat: no-repeat !important;
    width: 100%;
    height: 100px;
}

.catalog__ategory {
    height: 100%;
}

.footer_links>ul li,
a {
    list-style: none;
    line-height: 35px;
    color: #544837;
    text-decoration: none;
}

.copyright_text_footer {
    color: #5E6366;
    font-size: 12px;
    line-height: 16px;
}

.categories-site_products {
    background-color: #FCFCFC;
}

.product-name {
    color: #000000;
    font-size: 14px;
    text-transform: capitalize;
}

.about-product {
    color: #4A4A4A;
    font-size: 12px;
    font-weight: normal;
}

.product-price {
    color: #737373;
    font-size: 22px;
    font-weight: 500;
    transition: 0.8s;
    transform: scale(1);
}

.title {
    font-size: 40px;
    color: #D2D2D2;
    font-weight: bold;
}

.line-test__category::before {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    background: #d2d2d2;
    margin-top: -7px;
    margin-left: -0%;
}

.fix_modal-line::before {
    width: 91% !important;
}

.line-test::before {
    content: '' !important;
    width: 100%;
    height: 3px;
    position: absolute;
    background: #FF0055;
    position: absolute;
    top: -3%;
    left: 0;
}

.color_select {
    width: 34px;
    height: 34px;
    background: #E6E6E6;
    float: left;
}

.lil-color_select {
    width: 28px;
    height: 28px;
}

.color_select {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.sneaker-pic__manin {
    width: 585px;
    height: 375px;
}

.snk-capture {
    background-repeat: no-repeat !important;
    width: 90px;
    height: 90px;
}

.snk-info__type,
.snk-info__market,
.color-and-size__size-number>label {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #888688;
}

.custom-select {
    background: #fff url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iOSIgdmlld0JveD0iMCAwIDExIDkiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik01LjUgOUwwLjczNjg2IDAuNzVMMTAuMjYzMSAwLjc1TDUuNSA5WiIgZmlsbD0iI0ZGMDA1NSIvPgo8L3N2Zz4K") no-repeat right 0rem center/11px 11px !important;
}

.input_caption {
    color: #888688;
    font-weight: 500;
    margin: 0;
}

.input_placeholder_style {
    color: #888688;
    font-weight: bold;
}

#st-attribute_select {
    height: 7rem;
}

#st-attribute_select option:first-child {
    position: relative;
    background-color: #e9e9e9;
    padding: 5px 15px;
    border-radius: 360px;
    margin: 5px;
}

#st-attribute_select option:not(:first-child) {
    position: relative;
    background-color: #e9e9e9;
    padding: 5px 35px 5px 15px;
    border-radius: 360px;
    font-weight: 600;
    margin: 5px;
    float: left;
    width: auto;
    cursor: pointer;
}

#st-attribute_select option::before {
    content: '';
    position: absolute;
    width: 27px;
    height: 27px;
    right: 0;
    border-radius: 360px;
    top: 0;
    border: 3px solid #fff;
    background-color: #d1d1d1;
    z-index: 50;
}

#st-attribute_select option:hover::before {
    background: linear-gradient(#ff0055, #ff0055) !important;
}

#st-attribute_select option:checked::before {
    background: linear-gradient(#ff0055, #ff0055) !important;
}

#st-attribute_select option:checked::after {
    content: '';
    right: 11px;
    position: absolute;
    top: 8px;
    width: 5px;
    height: 10px;
    border: solid #f1f1f1;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 100;
}

select option:hover,
select option:focus,
select option:active,
select option:checked {
    background: linear-gradient(#d1d1d1, #d1d1d1);
    // background-color: #ff0055 !important;
    /* for IE */
}

// /input[type=radio] for choose City input[type=radio],
input[type="radio"] {
    appearance: none;
    width: 12px;
    height: 12px;
    box-shadow: inset 0 0 0 .1em #ff0055, 0 0 0 .1em;
    border-radius: 50%;
    transition: .2s;
    cursor: pointer;
    color: #ff0055;
    outline: none;
    &:checked {
        background: #ff0055;
        box-shadow: inset 0 0 0 .2em white, 0 0 0 .2em #ff0055;
    }
    &:focus {
        outline: 0;
    }
}

.form-check-label {
    cursor: pointer;
}

.second-column__modal {
    display: inline-block;
}

.snk-size-caption {
    font-weight: 100px !important;
}

.snk-info__market_modal {
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #878786;
}

.snk-info__name,
.snk-info__name_modal {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #464646;
}

.snk-info__name_modal {
    font-size: 18px !important;
    line-height: 22px;
}

.snk-info__market {
    font-weight: 500 !important;
}

.snk-amount__numb {
    display: inline-block;
}

.snk-amount__numb,
.snk-price__modal,
.summ-price__modal {
    width: 28px;
    height: 28px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #878786;
}

.summ-price__modal {
    color: #000 !important;
    font-weight: 700 !important;
}

.shop-table__captions {
    font-family: 'Montserrat';
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    text-transform: uppercase;
}

.delivery-adress__modal {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #878786;
}

.plus-minus {
    font-family: 'Arial';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 41px;
    color: #BBBBBB;
}

.uppercase {
    text-transform: uppercase;
}

.amount {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #484848;
}

.info-product_footer {
    border-top: 2px solid #FF0055;
}

.info-prod_footer__bttn button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
}

.about-prod__caption {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
}

.about-prod__info {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 13px;
    line-height: 18px;
    color: #888688;
}

.purchase-box {
    border-bottom: 46px solid #848484;
}

.market__head-banner {
    height: 235px;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.change-bttn {
    font-size: 10px;
}

.change-bttn:hover {
    background: none;
    color: #000;
}

.banner__name-market {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    color: #2E2D31;
}

.bttn-alignment {
    height: 60px;
}

.city-checkbox {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

.seller-bttns {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

.status-success {
    border-bottom: 10px solid #03D087 !important;
    color: #03D087 !important;
}

.status-canceled {
    border-bottom: 10px solid #FF0055 !important;
    color: #FF0055 !important;
}

.status-preparing {
    border-bottom: 10px solid #FF511A !important;
    color: #FF511A !important;
}

.copywright {
    height: 120px;
}

.copywright-txt {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14.0834px;
    color: #1C1C1B;
}

.market-info__caption {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 43px;
    color: #2E2D31;
}

.market-info__value {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #2E2D31;
}


/* Status */

.line-test__order-cancled::before {
    background: #FF0055;
    content: "";
    width: 100%;
    height: 10px;
    position: absolute;
    left: 0;
    top: -2%;
}

.line-test__order-success::before {
    background: #03D087;
    content: "";
    width: 100%;
    height: 10px;
    position: absolute;
    left: 0;
    top: -2%;
}

.line-test__order-preparing::before {
    background: #FF511A;
    ;
    content: "";
    width: 100%;
    height: 10px;
    position: absolute;
    left: 0;
    top: -2%;
}

.order-agree__txt {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    color: #6E7A90;
    font-size: 10px;
}

.tnx-txt {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: #F20051;
}

.categories__modal {
    height: 164px;
}

.categories__modal-markets {
    height: 380px;
}

.sort-checkbox__category {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #1C1C1B;
}

.captions-of__modal {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #000000;
}


/*Shuhrat*/

.mobile-nav {
    position: fixed;
    bottom: 0;
    z-index: 888888;
    height: 56px;
}

.mobile-nav theme {
    height: 2rem;
}

.mobile-nav .border-right,
.mobile-nav .border-left {
    border-color: #fff !important;
    border-width: 1px !important;
}

.add-good theme {
    height: 3rem;
    position: absolute;
    top: -2rem;
}

.under-menu-category i {
    font-size: 15px;
}

.main-search {
    width: 100% !important;
    height: 38.4px;
    font-size: 14px;
    border: 1.17647px solid #FF0055;
    border-radius: 11px;
}

.categories__modal-markets::-webkit-scrollbar,
.categories__modal::-webkit-scrollbar {
    width: 10px;
    border-radius: 15px;
}

.categories__modal-markets::-webkit-scrollbar-track,
.categories__modal::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

.categories__modal-markets::-webkit-scrollbar-thumb,
.categories__modal::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 15px;
}

.categories__modal-markets::-webkit-scrollbar,
.categories__modal::-webkit-scrollbar {
    width: 10px;
    border-radius: 15px;
}

.categories__modal-markets::-webkit-scrollbar-track,
.categories__modal::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

.categories__modal-markets::-webkit-scrollbar-thumb,
.categories__modal::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 15px;
}

.sample-carousel .item {
    height: 8rem;
}

.owl-theme .owl-dots .owl-dot.active span {
    background: #FF0055 !important;
}

button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.markets theme {
    height: 9rem;
    width: 11rem !important;
}

.market-name::after {
    content: '';
    width: 15px !important;
    height: 15px !important;
    background-image: url(/theme/goto.svg);
    background-size: cover;
    position: absolute;
    top: 29%;
    opacity: 0;
    transition: 0.5s;
}

.markets .item:hover .market-name::after {
    opacity: 1;
}

.category-dropdown::after {
    content: '';
    position: absolute;
    left: -0.5rem;
    top: 0.8rem;
    margin: 0 !important;
    border-top: 10px solid #FF0055;
}

.change-avatar-icon {
    bottom: 2rem;
    right: 2rem;
}

.customer-tab .nav-link {
    color: #6C757D;
}

.customer-tab .active {
    color: #FF0055 !important;
}

// .customer-tab .active:before {
//     content: '';
//     height: 5px;
//     width: 100%;
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     background: #C4C4C4;
// }

.color-active {
    position: relative;
}

.color-active::before {
    content: "";
    position: absolute;
    left: -3px;
    top: -2px;
    border-radius: 7px;
    height: 40px;
    width: 40px;
    border: 2px solid #FF0055;
}

.category-Border-gray{
    border-bottom: 2.5px solid #d2d2d2 !important;
}

.product-size:hover {
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

.quantyty {
    background: #F2F2F2;
}

.quantyty:focus {
    box-shadow: none;
    background: #F2F2F2;
}

@media only screen and (max-width: 991px) {
    .customer-tab {
        display: grid;
        gap: 10px;
        margin-top: 0 !important;
        grid-template-columns: 1fr 1fr !important;
        & li:last-child{
            grid-column: 1/3;
            text-align: center;
        }
    }
    .line-test__category::before {
        height: 0;
    }
    body {
        background: #fff;
    }
    .main-search {
        width: 100% !important;
    }
    .filter-btn,
    .search-btn {
        background: none !important;
        position: absolute;
    }
    .search-btn {
        left: 0;
    }
    .filter-btn {
        right: 0;
    }
    .category-item-mobile {
        margin: 0 1rem !important;
        font-weight: 600;
    }
    .category-Border-pinky {
        border-bottom: 2.5px solid #ff0055 !important;
    }
}

@media only screen and (max-width: 768px) {

    .w-md-100 {
        width: 100% !important;
    }
    .w-sm-100 {
        width: 100% !important;
    }
    .w-sm-75 {
        width: 75% !important;
    }
    .mobile-header {
        width: 100% !important;
    }
    .profile,
    .categories-site_products {
        background: #fff;
    }
    .market-info__caption {
        font-size: 22px;
    }
    .title {
        font-size: 15px;
        text-align: center;
    }
    .mobile-nav--title {
        font-size: 9px;
        font-weight: 500;
    }
    #main-slider .carousel-inner {
        border-radius: 25px;
    }
}

@media only screen and (max-width: 375px) {
    .change-bttn {
        display: flex;
    }
    .price-place .custom-bttn {
        font-size: 10px;
    }


}

@media only screen and (max-width: 350px) {
    .mobile-nav--title {
        display: none;
    }
    .customer-tab {
        display: flex !important;
        padding: 10px 0;
        flex-direction: row;
        flex-wrap: nowrap;
        flex: 0 0 100%;
        overflow-x: scroll;

        & .nav-item {
            margin-right: 15px;
            flex: 0 0 auto;
        }
    }
}

@media only screen and (min-width: 1500px) {
    .buy-modal {
        max-width: 700px !important;
    }
}

@media only screen and (max-width: 790px) {
    .buy-modal {
        max-width: fit-content !important;
    }
}


/* Sasha*/

.btn-edit {
    border: 1px solid;
    padding: 0.25rem 1.15rem !important;
    font-size: 13px;
}

.edit-store-logo {
    top: 0.5rem;
}

.edit-name {
    top: 0.5rem;
    left: 1.5rem;
}

.change-banner {
    top: 0.5rem;
    right: 1.5rem;
}

.store-inf-label {
    font-size: 18px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background: none !important;
}

.order-cancled::before {
    background: #FF0055;
    content: "";
    width: 100%;
    height: 10px;
    position: absolute;
    left: 0;
    top: -2%;
}

.order-success::before {
    background: #03D087;
    content: "";
    width: 100%;
    height: 10px;
    position: absolute;
    left: 0;
    top: -2%;
}

.order-preparing::before {
    background: #FF511A;
    content: "";
    width: 100%;
    height: 10px;
    position: absolute;
    left: 0;
    top: -2%;
}

.store-image, .object-cover {
    object-fit: cover;
}


/* product-single*/

.custom-radius {
    border-radius: 11px;
}

// .buy-modal {
//     max-width: 700px !important;
// }
.buy-modal .title {
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
}

.modal-item::before {
    content: '';
    position: absolute;
    top: 1.8rem;
    width: 94%;
    left: 2.5%;
    height: 1px;
    background: #ff0055;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

#prodCarousel .carousel-indicators .active {
    background-color: #FF0055;
    width: 13px;
    height: 13px;
}

.privacy-policy {
    color: #1498C1;
}

.btn-custom-fs {
    background-color: transparent;
    color: #888888;
    &:hover {
        color: inherit;
    }
    &::after {
        content: '';
        display: block;
        width: 2px;
        height: 75%;
        background-color: #FF0055;
        position: absolute;
        right: 0;
        z-index: 100;
        border-radius: 25%;
    }
}

.btn-group-fs input {
    border-left: 0;
}

.modal-content {
    border-radius: 0.8rem;
}

@media only screen and (max-width: 576px) {
    .preview-image img {
        width: 100% !important;
    }
    .mb-custom-login {
        padding: 0 !important;
        .mb-pre--close {
            color: #545454;
        }
        .mb-pre--text {
            font-size: 12px;
        }
        .modal-dialog {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
        }
        .modal-content {
            height: 100%;
            width: 100%;
            border: 0;
            border-radius: 0;
        }
        .swal2-icon{
            width: 4rem !important;
            height: 4rem !important;
        }
    }
    .mobile-header {
        width: 100% !important;
    }
    .t-neutral .spinner__button {
        padding: 0 5px !important;
        color: #fff !important;
    }
    .spinner {
        border-color: #fff !important;
    }
    #spinner-input {
        color: #fff !important;
    }
    .mb-other-product {
        font-weight: 600;
        font-size: 18px;
        color: #9b9b9b;
        margin: 1em 0 2em 0em;
    }
    .divide {
        display: none;
    }
    .all-product {
        margin: 0 !important;
    }
    .category-mix a {
        font-size: 14px !important;
    }
    #cover-poster-mobile {
        height: 150px !important;
    }
    .text-xs-center {
        text-align: center;
    }
}

@media only screen and (max-width: 620px) {
    .t-neutral .spinner__button,
    #spinner-input,
    .spinner {
        -webkit-text-fill-color: #fff; 
        -webkit-opacity: 1; 
        color: #fff !important;
        border-color: #fff !important;
    }
    .prod-controls {
        background: #FF0055;
        color: #fff;
    }
    .prod-controls .btn-danger {
        background: #fff;
        color: #FF0055;
    }
    .info-product_footer {
        border: none;
    }
    .mb-price {
        color: #fff !important;
    }
    h4,
    .h4 {
        font-size: 1.0rem;
    }
}


/* Theming */


/* Aggressive reset to remove the initial spinner */

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

input[type="number"]:hover::-webkit-inner-spin-button,
input[type="number"]:hover::-webkit-outer-spin-button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}


/* The component (also includes vertical) */

.spinner {
    display: flex;
    border: 1.5px solid #B8B8B8;
    border-radius: 25px;
}

#spinner-input {
    background: transparent;
    flex: 1 1 50%;
    font-weight: 700;
}

.t-neutral .spinner__button {
    color: #BBBBBB;
    font-weight: 900;
    background: transparent;
    font-size: 21px;
    border: 0;
    padding: 0;
    flex: 1 1 25%;
    padding: 7px 16px;
}

.spinner:after {
    clear: both;
    content: "";
    display: table;
}

.spinner__label {
    display: block;
    text-align: center;
    width: 100%;
}

.spinner__button {
    cursor: pointer;
    display: block;
    font-size: 1em;
    font-weight: 700;
    padding: 1.1em 1em 1.15em;
    text-align: center;
    text-decoration: none;
    transition: background 0.4s ease;
}

.spinner__button--left {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.spinner__button--right {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.spinner__button--top {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.spinner__button--bottom {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.spinner--vertical .spinner__button {
    padding: 2em 1em;
    width: 100%;
}

.spinner__input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    border-radius: none;
    box-sizing: border-box;
    display: block;
    font-size: 1em;
    line-height: 1.5;
    text-align: center;
}


/* product single end */


/* order-story*/

.order-tab .nav-item .active {
    background: transparent;
    color: #FF0055;
    font-weight: bold;
    border: 1px solid #FF0055;
}

.order-tab .nav-link {
    color: #99879D;
    font-weight: bold;
    border: 1px solid #99879D;
    border-radius: 11px;
}

.status {
    position: relative;
}

.success-card .status::before {
    content: '';
    position: absolute;
    left: -3%;
    height: 100%;
    width: 5px;
    background: #0DC985;
}

.secondary-card .status::before {
    content: '';
    position: absolute;
    left: -3%;
    height: 100%;
    width: 5px;
    background: #6c757d;
}

.declined-card .status::before {
    content: '';
    position: absolute;
    left: -3%;
    height: 100%;
    width: 5px;
    background: #FF0055;
}

.in-road-card .status::before {
    content: '';
    position: absolute;
    left: -3%;
    height: 100%;
    width: 5px;
    background: #ffc107;
}

.on-way .status::before {
    content: '';
    position: absolute;
    left: -3%;
    height: 100%;
    width: 5px;
    background: #6cb2eb;
}


/* order-story end*/


/*favourite*/

.active-product .liked-icon {
    display: block;
    right: 0.5rem;
}


/*favourite end*/

// search
.search-result {
    position: absolute;
    width: 100%;
    top: 50px;
    background-color: #F2F2F2;
    z-index: 9;
}

.profile-pic {
    position: relative;
    display: inline-block;
}

.deleteImage {
    padding: 0 10px;
    position: absolute;
    right: -10px;
    top: -10px;
    display: block;
    border-radius: 50%;
    background: #ff0055;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.deleteImage a {
    color: #000;
}

.profile-pic:hover .deleteAddedImage {
    display: block;
}

.deleteAddedImage {
    padding-top: 10px;
    padding-right: 10px;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}

.deleteAddedImage a {
    color: #000;
}

@media screen and (min-device-width: 320px) and (orientation: landscape) {
    #categories {
        height: 440px;
    }
}

// new
.add-product-secondary {
    .pic-item {
        border: 2px solid #fff;
        cursor: pointer;
        border: 1px solid #848484;
    }
}

.add-icon {
    position: absolute;
    top: -1rem;
    height: 2.5rem;
}

.pic-item-active {
    border: 1px solid #FE0054 !important;
}

#ok-loupe {
    box-shadow: none !important;
    border: 0 !important;
}

.categories-site_products {
     ::-webkit-scrollbar {
        width: 10px;
    }
     ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
     ::-webkit-scrollbar-thumb {
        background: #D2D2D2;
        border-radius: 11px;
    }
     ::-webkit-scrollbar-thumb:hover {
        background: #999;
    }
}

.att-show-row {
    gap: 1em;
}

.att-show {
    border: 2px solid #d2d2d2;
    border-radius: 7px;
    cursor: pointer;
    &:hover,
    &.active {
        border-color: $danger;
    }
}

.count-products {
    color: #b7b7b7;
}

.list-group-flush>.list-group-item>.list-group-row::after {
    content: "";
    border-bottom: 2px solid #EDEDED !important;
    height: 1px;
    display: block;
    position: absolute;
    bottom: -0.5rem;
    width: 100%;
}

.list-group-flush>.list-group-item {
    border: 0;
}

.count-products {
    color: #a0a0a0;
    font-weight: 400;
    font-size: 14px;
    display: block;
}

.category-mix a {
    line-height: 1.7;
    font-size: 16px;
    color: #121416;
}

#adressChange {
    z-index: 99999;
    .modal_body{
        z-index: 999999;
    }
}

.store-icon {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    border-radius: 50%;
}

.store-banner {
    object-fit: cover;
}


/*mobile-filter*/

.mobile-filter select,
.mobile-filter button {
    font-size: 13px !important;
}

.mobile-filter .custom-select {
    background: #fff url(/storage/theme/icons/dashicons_arrow-down-alt2.svg) no-repeat right 0rem center/14px 14px;
    font-weight: 500;
}

#enableFilter {
    z-index: 9999;
}

#enableFilter .modal-dialog {
    max-width: 83% !important;
    position: absolute;
    right: 0;
    margin: 0;
}

.categories::-webkit-scrollbar,
.categories::-webkit-scrollbar {
    width: 10px;
    border-radius: 15px;
}

.categories::-webkit-scrollbar-track,
.categories::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

.categories::-webkit-scrollbar-thumb,
.categories::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 15px;
}

.categories::-webkit-scrollbar,
.categories::-webkit-scrollbar {
    width: 5px;
    border-radius: 15px;
}

.categories-markets::-webkit-scrollbar-track,
.categories::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

.categories::-webkit-scrollbar-thumb,
.categories::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 15px;
}

//Categorie scroll end
//Color picker

/* Блок чекбокса*/

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Скрываем дефолтный чекбокс*/

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Чекбокс */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 15px;
    border: 1px solid transparent;
}


/* добавить тень при наведении*/

.checkbox-container:hover input~.checkmark {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/* Поставить тень и грани во время активности */

.checkbox-container input:checked~.checkmark {
    border: 1px solid #CCCCCC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/* Создать галочку и скрыть */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Показать что галочку */

.checkbox-container input:checked~.checkmark:after {
    display: block;
}


/* Стили галочки*/

.checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

//Color picker
.category {
    font-size: 17px;
    font-weight: 700;
    vertical-align: sub;
    color: #343a40;
}

.category-item {
    margin: 0 1rem;
}

.order-title {
    width: 11rem;
}

.order-tab {
    img {
        object-fit: cover;
        // height: 6rem;
    }
}

.edit-pofile-img {
    top: 1.5rem !important;
}

.numeric {
    padding-right: 1.5rem !important;
}

.custom-lined-category {
    position: relative;
    &:before {
        content: '';
        background: #FF0055;
        height: 3px;
        position: absolute;
        width: 100%;
        top: -0.7rem;
    }
}

//custom-radio
.radio-container {
    display: block;
    position: relative;
    padding: 0 0.8rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default radio button */

.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


/* Create a custom radio button */

.radio-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: transparent
}


/* On mouse-over, add a grey background color */

.radio-container:hover input~.checkmark {
    background-color: transparent;
}


/* When the radio button is checked, add a blue background */

.radio-container input:checked~.radio-checkmark {
    background-color: transparent;
    border: 2px solid #f00 !important;
    border-radius: 8px;
}


/* Create the indicator (the dot/circle - hidden when not checked) */

.radio-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the indicator (dot/circle) when checked */

.radio-container input:checked~.radio-checkmark:after {
    display: block;
}

.radio-checkmark {
    border: 2px solid #ccc;
    border-radius: 8px;
}

.price {
    color: #000;
}

#catProducts {
    img {
        // height: 250px;
        object-fit: cover;
    }
    @media only screen and( max-width: 375px) {
        img {
            // height: 200px;
            object-fit: cover;
        }
    }
}

.text-opacity-low {
    color: #D2D2D2;
}

.create-store {
    .form-control {
        border-top-right-radius: 5px !important;
        border-bottom-right-radius: 5px !important;
    }
}

.preview-image {
    position: relative;
    margin-bottom: .8rem;
}

.preview-image.removing {
    transform: scale(0);
    transition: transform .3s;
}

.preview-image img {
    width: 89px;
    height: 100px;
    object-fit: contain;
    background-color: #ffffff;
}

.preview-remove {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 14px;
    top: 0;
    font-weight: bold;
    background: rgb(255 0 0 / 50%);
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity .22s;
}

.preview-image:hover .preview-remove {
    opacity: 1;
}

.preview-image:hover .preview-info {
    bottom: 0;
}

.preview-info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -30;
    height: 25px;
    font-size: .8rem;
    background: rgba(255, 255, 255, .5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    transition: bottom .22s;
}

// .endless-pagination[data-style="2"] .line-test:first-child::before {
//     content: "" !important;
//     width: 100%;
//     height: 3px;
//     position: absolute;
//     background: #FF0055;
//     position: absolute;
//     top: -3%;
//     left: 0;
// }

.success-preloader {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: 0;
    height: 100%;
    z-index: 9999;
    background: rgb(0 0 0 / 35%);
}

.was-validated .form-control:valid,
.form-control.is-valid{
    background-image:none !important;
    border-color: #d8d8d8;
}
.was-validated .custom-select:valid,
 .custom-select.is-valid{
    border-color: #d8d8d8;
 }
.slick-arrow {
    display: none !important;
}

.customer-tab li.nav-item a {
    padding: 0 0.5rem !important;
    border: 1px solid #99879D !important;
    font-weight: 500;
    border-radius: 7px;
}

.customer-tab {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    font-size: 13px;
    @media only screen and (max-width: 1199px) {
        grid-template-columns: repeat(3, 1fr);
    }
}


.customer-tab li.nav-item a.active {
    border: 1px solid #ff0055 !important;
    font-weight: 500;
}

.product-buttons{
    @media only screen and (max-width: 420px) {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 0.5em;
    }
}

.delete-product{
   @include delete__svg;
}

.restore-product{
    svg{
        fill: $primary;
    }
    &:hover svg{
        fill: $white;
    }
}

.delete-store{
    @include delete__svg;
 }

.store-controls{
    // .delete-store{
    //     @include delete__svg;
    //  }
     @media only screen and (max-width: 767px) {
        a{
            width: 45%;
        }

        button{
            width: 45%;
        }
    }
}

.store-info{
    position: absolute;
    left: 7.5rem;
    bottom: -3rem;
    font-size: 1.5rem;
    @media only screen and (max-width: 470px) {
        font-size: 1rem;
    }
    @media only screen and (max-width: 340px) {
        font-size: 0.8rem;
    }
}

.swal2-actions button, .swal2-popup {
    border-radius: 11px !important;
}

#avatar-poster{
    object-fit: cover;
}

.cs_list li{
    border-width: 0.12em !important;
    padding: 0 2.5em;
}

.cs_categoryTitle{
    padding: 0 2.2rem;
    border-width: 0.12em !important;

}

.close{
    opacity: 1 !important;
}

/* SearchBar */
.store__searchBar {
    input{
        border: none;
        border-bottom: 1px solid #FF0055;
        background: transparent;
        height: 4rem;
        font-size: 2rem;
        font-weight: 500;
        text-align: center;
        &:focus{
            outline: none;
        }
        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #D1D1D1;
            text-align: center;
            opacity: 1; /* Firefox */
          }

          &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: #D1D1D1;
            text-align: center;
          }

          &::-ms-input-placeholder { /* Microsoft Edge */
            color: #D1D1D1;
            text-align: center;
          }
          @media only screen and (max-width: 600px){
            font-size: 0.8rem;
            height: 2rem;
          }
    }
    button{
        right: 0;
        top: 1.8rem;
        border: 0;
        background: transparent;
        &:focus{
            outline: none;
        }
        @media only screen and (max-width: 600px){
            top: 0;
          }
    }
}

.allStore__title{
    color: #D1D1D1;
}

.allStore__cards{
    .card__item{
        img{
            height: 11rem;
            width: 100%;
            object-fit: cover;
            border-radius: 0.5rem;
        }
        .text-center{
            font-weight: 500;
        }
    }
}
.fs__avatar{
    label{
        font-size: 10px;
        border: 0;
        position: absolute;
        bottom: -1rem;
        background: #fff;
        transition: 0.5s;
        opacity: 0;
        @media only screen and (max-width: 991px) {
           position: inherit;
           bottom: auto;
           background: transparent;
           opacity: 1;
           border: 1px solid;
        }
    }
    
}

.fs__icon-show{
    cursor: pointer;
    &:hover>.fs__avatar label{
        bottom: 1rem;
        opacity: 1;
    }
    @media only screen and (max-width: 991px) {
        position: inherit;
        bottom: auto;
        background: transparent;
        opacity: 1;
        &:hover>.fs__avatar label{
            bottom: auto;
        }
     }
}

.other-attr{
    @media only screen and (max-width: 600px) {
       height: 3rem !important;
       background: #fff url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iOSIgdmlld0JveD0iMCAwIDExIDkiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik01LjUgOUwwLjczNjg2IDAuNzVMMTAuMjYzMSAwLjc1TDUuNSA5WiIgZmlsbD0iI0ZGMDA1NSIvPgo8L3N2Zz4K) no-repeat right 0rem center/11px 11px !important;
       -webkit-appearance: none; 
       appearance: none;
    }
}

.attr__checkboxes{
    @media only screen and (max-width: 600px) {
       width: 100% !important;
     }
}