<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- owlcarousel -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;1,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/445a82fc53.js" crossorigin="anonymous"></script>
    <title>Fason.tj</title>
    <!-- Style css -->
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body style="font-family: 'Montserrat', sans-serif;" >
    <!--Header-start-->
    <header class="d-block" style="font-family: 'Montserrat', sans-serif;">
      <div class="container-fluid bg-white px-0">
        <div class="d-none d-md-block" style="background:url(css/img/head-banner.png); height:80px; background-position:center;"></div>
        <div class="container">
          <div class="row py-3 px-3 px-lg-0">
            <div class="col-6 col-md-6 col-lg-2 px-0 order-1 order-lg-0">
              <a class="logo" href="#"><img src="css/img/logo.png" alt=""></a>
            </div>
            <div class="col-md-12 col-lg-10 px-0 align-self-center order-2 order-lg-1">
              <div class="search-nav d-flex align-self-center align-items-center justify-content-between position-relative">
                <form class="form-inline my-2 my-lg-0 d-flex justify-content-center justify-content-lg-end w-100">
                  <input  class="form-control rounded main-search pl-5 pl-lg-3" type="search" placeholder="поиск товаров ..." aria-label="Search">
                  <button class="custom-bttn nav-link btn mx-2 rounded search-btn" type="submit">
                    <i class="fas fa-search d-none d-lg-inline-block"></i><i class="fas fa-search d-inline-block text-pinky d-lg-none"></i> <span class="d-none d-lg-inline-block">Поиск</span></button>
                </form>
                  <!-- Button trigger modal -->
                <button class="custom-bttn nav-link btn rounded d-flex align-items-center filter-btn" data-toggle="modal" data-target="#filter_for_subject" type="submit">
                  <i class="fas fa-filter d-none d-lg-inline-block"></i> <i class="fas fa-filter d-block d-lg-none text-pinky"></i> <span class="d-none d-lg-inline-block"> Фильтр</span>
                </button>
              </div>
              <!-- Modal -->
              <div class="modal fade" id="filter_for_subject" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                  <div class="modal-content">
                    <div class="modal-header border-0">
                      <h6 class="modal-title ml-4">Фильтер</h6>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><img src="img/close icon.svg" alt=""></span>
                      </button>
                    </div>
                    <div class="modal-body mx-4">
                      <div class="row">
                        <div class="col-md-6 col-lg-4 line-test__category fix_modal-line">
                          <div class="d-flex justify-content-between align-items-center mt-4">
                            <h5 class="captions-of__modal ">Категории</h5><img src="img/delete.svg" alt="delete_ctg">
                          </div>
                          <div class="categories__modal overflow-auto"> 
                            <div class="form-check mt-3">
                              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                              <label class="sort-checkbox__category form-check-label" for="defaultCheck1">
                                Телефоны
                              </label>
                            </div>
                            <div class="form-check mt-3">
                              <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" >
                              <label class="sort-checkbox__category form-check-label" for="defaultCheck2">
                                Электроника                           
                              </label>
                            </div>
                            <div class="form-check mt-3">
                              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                              <label class="sort-checkbox__category form-check-label" for="defaultCheck1">
                                Автотовары 
                              </label>
                            </div>
                            <div class="form-check mt-3">
                              <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" >
                              <label class="sort-checkbox__category form-check-label" for="defaultCheck2">
                                Компьютеры
                              </label>
                            </div>
                            <div class="form-check mt-3">
                              <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" >
                              <label class="sort-checkbox__category form-check-label" for="defaultCheck2">
                                Компьютеры
                              </label>
                            </div>
                            <div class="form-check mt-3">
                              <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" >
                              <label class="sort-checkbox__category form-check-label" for="defaultCheck2">
                                Компьютеры
                              </label>
                            </div>
                            <div class="form-check mt-3">
                              <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" >
                              <label class="sort-checkbox__category form-check-label" for="defaultCheck2">
                                Компьютеры
                              </label>
                            </div>
                          </div>
                          <div class="d-flex justify-content-between align-items-center mt-4">
                            <h5 class="captions-of__modal ">Бренды</h5><img src="img/delete.svg" alt="delete_ctg">
                          </div>                           
                          <div class="categories__modal  overflow-auto">
                            <div class="form-check mt-3">
                              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                              <label class="sort-checkbox__category form-check-label" for="defaultCheck1">
                                Adidas
                              </label>
                            </div>
                            <div class="form-check mt-3">
                              <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" >
                              <label class="sort-checkbox__category form-check-label" for="defaultCheck2">
                                H&M                           
                              </label>
                            </div>
                            <div class="form-check mt-3">
                              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                              <label class="sort-checkbox__category form-check-label" for="defaultCheck1">
                                Apple 
                              </label>
                            </div>
                            <div class="form-check mt-3">
                              <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" >
                              <label class="sort-checkbox__category form-check-label" for="defaultCheck2">
                                Noname
                              </label>
                            </div>
                            <div class="form-check mt-3">
                              <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" >
                              <label class="sort-checkbox__category form-check-label" for="defaultCheck2">
                                Noname
                              </label>
                            </div>
                            <div class="form-check mt-3">
                              <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" >
                              <label class="sort-checkbox__category form-check-label" for="defaultCheck2">
                                Noname
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6 col-lg-4 line-test__category fix_modal-line">
                          <div class="d-flex justify-content-between align-items-center mt-4">
                            <h5 class="captions-of__modal ">Магазин</h5> <img src="img/delete.svg" alt="delete_ctg">
                          </div>
                          <div class="categories__modal-markets overflow-auto"> 
                            <div class="form-check ">
                              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                              <label class="sort-checkbox__category form-check-label" for="defaultCheck1">
                                Корвон
                              </label>
                            </div>
                            <div class="form-check mt-3">
                              <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" >
                              <label class="sort-checkbox__category form-check-label" for="defaultCheck2">
                                Olim.H                           
                              </label>
                            </div>
                            <div class="form-check mt-3">
                              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                              <label class="sort-checkbox__category form-check-label" for="defaultCheck1">
                                Aburish 
                              </label>
                            </div>
                            <div class="form-check mt-3">
                              <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" >
                              <label class="sort-checkbox__category form-check-label" for="defaultCheck2">
                                Lactie
                              </label>
                            </div>
                            <div class="form-check mt-3">
                              <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" >
                              <label class="sort-checkbox__category form-check-label" for="defaultCheck2">
                                Компьютеры
                              </label>
                            </div>
                            <div class="form-check mt-3">
                              <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" >
                              <label class="sort-checkbox__category form-check-label" for="defaultCheck2">
                                Компьютеры
                              </label>
                            </div>
                            <div class="form-check mt-3">
                              <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" >
                              <label class="sort-checkbox__category form-check-label" for="defaultCheck2">
                                Компьютеры
                              </label>
                            </div>
                          <div class="d-flex justify-content-between align-items-center mt-4"><h5 class="captions-of__modal ">Бренды</h5></div>                           
                            <div class="form-check ">
                              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                              <label class="sort-checkbox__category form-check-label" for="defaultCheck1">
                                Adidas
                              </label>
                            </div>
                            <div class="form-check mt-3">
                              <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" >
                              <label class="sort-checkbox__category form-check-label" for="defaultCheck2">
                                H&M                           
                              </label>
                            </div>
                            <div class="form-check mt-3">
                              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                              <label class="sort-checkbox__category form-check-label" for="defaultCheck1">
                                Apple 
                              </label>
                            </div>
                            <div class="form-check mt-3">
                              <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" >
                              <label class="sort-checkbox__category form-check-label" for="defaultCheck2">
                                Noname
                              </label>
                            </div>
                            <div class="form-check mt-3">
                              <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" >
                              <label class="sort-checkbox__category form-check-label" for="defaultCheck2">
                                Noname
                              </label>
                            </div>
                            <div class="form-check mt-3">
                              <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" >
                              <label class="sort-checkbox__category form-check-label" for="defaultCheck2">
                                Noname
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6 col-lg-4 line-test__category fix_modal-line">
                          <div class="mt-4"><h5 class="captions-of__modal ">Любой атребут</h5></div>
                          <div class="mt-5"><h5 class="captions-of__modal ">Город</h5></div>
                          <div class="form-check form-check-inline mt-3">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                            <label class="form-check-label" for="inlineCheckbox1">Душанбе</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                            <label class="form-check-label" for="inlineCheckbox2">Худжанд</label>
                          </div>
                          <br>
                          <div class="mt-5"><h5 class="captions-of__modal ">Цена</h5></div>                           
                          <input type="range" class="custom-range" id="customRange1">
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer border-1 d-flex justify-content-end mt-1">
                      <button type="button" class="change-bttn__modal btn btn-outline-danger rounded-pill px-5 ">
                        <i class="fas fa-search" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-md-6 col-lg-3 d-block d-lg-none order-1 order-lg-2 px-0">
              <button type="button" class="custom-bttn  mr-0 mr-lg-2 rounded  float-right px-3"  data-toggle="modal" data-target="#enter_site" >
              <i class="fas fa-sign-in-alt"></i>  Вход
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="mobile-nav row-cols-5 d-flex d-md-none w-100 bg-light align-items-center">
        <div class="col d-flex flex-column justify-content-center border-right">
          <img src="img/home.svg" alt="">
        </div>
        <div class="col d-flex justify-content-center border-right align-items-center">
          <img src="img/favourite-mob.svg" alt="">
        </div>
        <div class="col d-flex justify-content-center border-right add-good">
          <img src="img/plus.svg" alt="">
        </div>
        <div class="col d-flex justify-content-center align-items-center">
          <img src="img/orderes-mob.svg" alt="">
        </div>
        <div class="col d-flex justify-content-center border-left align-items-center">
          <img src="img/store-mob.svg" alt="">
        </div>
      </div>
    </header>
    <!--Header-end-->
    <section class="content" >
      <div class="container">
        <h2 class="title text-center w-100 mt-5 mb-4 d-none d-lg-block">Добавить Товар</h2>
        <div class="row d-flex justify-content-between" >
          <!--add image start-->
          <div class="col-lg-5 col-12 w-100 add-product" > 
            <div class="d-flex justify-content-between align-items-baseline">
            <a href="#" class="text-pinky font-weight-bold text-decoration-none" > <img src="img/back.svg" alt=""> Назад</a>
            <h5 class="text-secondary mt-5 mb-4 d-flex d-lg-none" >Добавить Товар</h5>
            </div>
            <div class="my-3">
               <img src="img/add_prod-img.svg" class="mw-100 w-100" alt="">
            </div>
            <div class="row add-product-secondary">
              <div class="col-3 text-center">
                <img src="img/add_prod-secondary.svg" class="mw-100"  alt="">
              </div>
              <div class="col-3 text-center">
                <img src="img/add_prod-secondary.svg" class="mw-100"  alt="">
              </div>
              <div class="col-3 text-center">
                <img src="img/add_prod-secondary.svg" class="mw-100"  alt="">
              </div>
              <div class="col-3 text-center">
                <img src="img/add_prod-secondary.svg" class="mw-100" alt="">
              </div>
            </div>
          </div>
          <!--add image end-->
          <!--Main attributes of product start-->
          <div class="col-12 col-lg-7 mt-5 mt-lg-0">
            <form>
              <div class="form-group d-flex flex-column flex-md-row mb-2 justify-content-start justify-content-md-end align-items-start align-items-md-center">
                <label for="staticEmail" class="input_caption mr-2 text-left text-md-right">Категории:</label>
                  <select class="strartline_stick input_placeholder_style form-control w-75 position-relative" id="staticEmail">
                    <option>Обувь</option>
                    <option>Вверх</option>
                    <option>Низ</option>
                    <option>Аксессуары</option>
                    <option>Сумки</option>
                  </select>                
              </div>
              <div class="form-group  d-flex flex-column flex-md-row mb-2 justify-content-start justify-content-md-end align-items-start align-items-md-center">
                <label for="staticEmail" class="input_caption mr-2 text-left text-md-right">Под- категории:</label>
                  <select class="input_placeholder_style form-control position-relative w-75" id="staticEmail">
                    <option>Кроссовки</option>
                    <option>Кеды</option>
                    <option>Туфли</option>
                    <option>Сапоги</option>
                    <option>Босаножки</option>
                  </select>                
              </div>
              <div class="form-group  d-flex flex-column flex-md-row mb-2 justify-content-start justify-content-md-end align-items-start align-items-md-center">
                <label for="inputChar1" class="input_caption mr-2 text-left text-md-right">Название товара:</label>
                  <input type="input" class="input_placeholder_style form-control w-75 position-relative" id="inputChar1" placeholder="">
              </div>
              <div class="form-group  d-flex flex-column flex-md-row mb-2 justify-content-start justify-content-md-end align-items-start align-items-md-center">
                <label for="textarea1" class="input_caption mr-2 text-left text-md-right">Описание товара : </label>
                  <textarea class="input_placeholder_style form-control w-75 position-relative" id="textarea1" rows="3"></textarea>
              </div>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-lg-7 col-12">
                    <div class= "w-100 d-flex align-items-center text-left">                       
                      <span class="input_caption mr-2 text-left text-md-right">Магазин : </span>
                      <a class="text-secondary text-decoration-none font-weight-bold" href="#">OLim.H...</a>
                    </div> 
                    <div class= "w-100 d-flex align-items-center justify-content-between justify-content-md-end pt-2">                       
                        <span class="input_caption m-0 text-left text-md-right"> Цвет : </span>
                      <label for="grey"  class="mx-2 color_select rounded-circle">
                        <input class="color_selector form-check-input" type="checkbox" value="" id="grey" hidden>
                      </label>
                      <label for="blue"  class="mx-2 color_select rounded-circle bg-info">
                        <input class="color_selector form-check-input" type="checkbox" value="" id="blue" hidden>
                      </label>
                      <label for="green" class="mx-2 color_select rounded-circle bg-success">
                        <input class="color_selector form-check-input" type="checkbox" value="" id="green" hidden>
                      </label>
                      <a data-toggle="collapse" href="#addAtributeFirst" role="button" aria-expanded="false" aria-controls="addAtributeFirst"><img src="img/add-prod-icon.svg" class="mw-100 mx-2" width="42" alt=""></a>
                    </div>
                    <div class="collapse" id="addAtributeFirst">
                      <div>
                        <div class="form-group d-flex justify-content-end mt-4 align-items-center">
                          <label for="extraAttribute" class="input_caption text-right mr-2 w-50">Добавить цвет: </label>
                            <input type="text" class="form-control w-75" id="extraAttribute">
                        </div>
                      </div>
                    </div>
                    <div class="color-and-size__size-number  w-100 d-flex justify-content-between justify-content-md-end align-items-baseline pt-4"> 
                      <span class="input_caption m-0 "> Размер: </span>
                      <label for="size-41"  class="mx-2">41
                        <input class="form-check-input" type="checkbox" value="" id="size-41" hidden>
                      </label>
                      <label for="size-42"  class="mx-2">42
                        <input class="form-check-input" type="checkbox" value="" id="size-42" hidden>
                      </label>
                      <label for="size-43" class="mx-2">43
                        <input class="form-check-input" type="checkbox" value="" id="size-43" hidden>
                      </label>
                      <a data-toggle="collapse" href="#addAtributeSecond" role="button" aria-expanded="false" aria-controls="addAtributeSecond"><img src="img/add-prod-icon.svg" class="mw-100 mx-2" width="42" alt=""></a>
                    </div>
                    <div class="collapse" id="addAtributeSecond">
                      <div>
                        <div class="form-group d-flex justify-content-end mt-4 align-items-center">
                          <label for="extraAttribute" class="input_caption text-right mr-2 w-50">Добавить размер: </label>
                            <input type="text" class="form-control w-75" id="extraAttribute">
                        </div>
                      </div>
                  </div>
                  </div>
                  <!--Main attributes of product end-->
                  <!--colors of product start-->
                    <div class="col-12 col-lg-5 bg-white my-3 px-3 rounded align-self-center">
                      <div class="multy-color pt-2">
                        <div class="row d-flex justify-content-between ">
                          <div class="col-2 px-2 text-center">
                            <label for="green" class="lil-color_select rounded-circle bg-success">
                              <input class="color_selector form-check-input" type="checkbox" value="" id="green" hidden>
                            </label>
                          </div>
                          <div class="col-2 px-2 text-center">
                            <label for="green" class="lil-color_select rounded-circle bg-success">
                              <input class="color_selector form-check-input" type="checkbox" value="" id="green" hidden>
                            </label>
                          </div>
                          <div class="col-2 px-2 text-center">
                            <label for="green" class="lil-color_select rounded-circle bg-success">
                              <input class="color_selector form-check-input" type="checkbox" value="" id="green" hidden>
                            </label>
                          </div>
                          <div class="col-2 px-2 text-center">
                            <label for="green" class="lil-color_select rounded-circle bg-success">
                              <input class="color_selector form-check-input" type="checkbox" value="" id="green" hidden>
                            </label>
                          </div>
                          <div class="col-2 px-2 text-center">
                            <label for="green" class="lil-color_select rounded-circle bg-success">
                              <input class="color_selector form-check-input" type="checkbox" value="" id="green" hidden>
                            </label>
                          </div>
                          <div class="col-2 px-2 text-center">
                            <label for="green" class="lil-color_select rounded-circle bg-success">
                              <input class="color_selector form-check-input" type="checkbox" value="" id="green" hidden>
                            </label>
                          </div>
                          
                          <div class="col-2 px-2 text-center">
                            <label for="green" class="lil-color_select rounded-circle bg-success">
                              <input class="color_selector form-check-input" type="checkbox" value="" id="green" hidden>
                            </label>
                          </div>
                          <div class="col-2 px-2 text-center">
                            <label for="green" class="lil-color_select rounded-circle bg-success">
                              <input class="color_selector form-check-input" type="checkbox" value="" id="green" hidden>
                            </label>
                          </div>
                          <div class="col-2 px-2 text-center">
                            <label for="green" class="lil-color_select rounded-circle bg-success">
                              <input class="color_selector form-check-input" type="checkbox" value="" id="green" hidden>
                            </label>
                          </div>
                          <div class="col-2 px-2 text-center">
                            <label for="green" class="lil-color_select rounded-circle bg-success">
                              <input class="color_selector form-check-input" type="checkbox" value="" id="green" hidden>
                            </label>
                          </div>
                          <div class="col-2 px-2 text-center">
                            <label for="green" class="lil-color_select rounded-circle bg-success">
                              <input class="color_selector form-check-input" type="checkbox" value="" id="green" hidden>
                            </label>
                          </div>
                          <div class="col-2 px-2 text-center">
                            <label for="green" class="lil-color_select rounded-circle bg-success">
                              <input class="color_selector form-check-input" type="checkbox" value="" id="green" hidden>
                            </label>
                          </div>

                          <div class="col-2 px-2 text-center">
                            <label for="green" class="lil-color_select rounded-circle bg-success">
                              <input class="color_selector form-check-input" type="checkbox" value="" id="green" hidden>
                            </label>
                          </div>
                          <div class="col-2 px-2 text-center">
                            <label for="green" class="lil-color_select rounded-circle bg-success">
                              <input class="color_selector form-check-input" type="checkbox" value="" id="green" hidden>
                            </label>
                          </div>
                          <div class="col-2 px-2 text-center">
                            <label for="green" class="lil-color_select rounded-circle bg-success">
                              <input class="color_selector form-check-input" type="checkbox" value="" id="green" hidden>
                            </label>
                          </div>
                          <div class="col-2 px-2 text-center">
                            <label for="green" class="lil-color_select rounded-circle bg-success">
                              <input class="color_selector form-check-input" type="checkbox" value="" id="green" hidden>
                            </label>
                          </div>
                          <div class="col-2 px-2 text-center">
                            <label for="green" class="lil-color_select rounded-circle bg-success">
                              <input class="color_selector form-check-input" type="checkbox" value="" id="green" hidden>
                            </label>
                          </div>
                          <div class="col-2 px-2 text-center">
                            <label for="green" class="lil-color_select rounded-circle bg-success">
                              <input class="color_selector form-check-input" type="checkbox" value="" id="green" hidden>
                            </label>
                          </div>

                          <div class="col-2 px-2 text-center">
                            <label for="green" class="lil-color_select rounded-circle bg-success">
                              <input class="color_selector form-check-input" type="checkbox" value="" id="green" hidden>
                            </label>
                          </div>
                          <div class="col-2 px-2 text-center">
                            <label for="green" class="lil-color_select rounded-circle bg-success">
                              <input class="color_selector form-check-input" type="checkbox" value="" id="green" hidden>
                            </label>
                          </div>
                          <div class="col-2 px-2 text-center">
                            <label for="green" class="lil-color_select rounded-circle bg-success">
                              <input class="color_selector form-check-input" type="checkbox" value="" id="green" hidden>
                            </label>
                          </div>
                          <div class="col-2 px-2 text-center">
                            <label for="green" class="lil-color_select rounded-circle bg-success">
                              <input class="color_selector form-check-input" type="checkbox" value="" id="green" hidden>
                            </label>
                          </div>
                          <div class="col-2 px-2 text-center">
                            <label for="green" class="lil-color_select rounded-circle bg-success">
                              <input class="color_selector form-check-input" type="checkbox" value="" id="green" hidden>
                            </label>
                          </div>
                          <div class="col-2 px-2 text-center">
                            <label for="green" class="lil-color_select rounded-circle bg-success">
                              <input class="color_selector form-check-input" type="checkbox" value="" id="green" hidden>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--colors of product start-->
                    <!--Price and quantity start-->
                    <div class="col-lg-7 col-12">
                      <div class="form-group row mb-2">
                        <label for="inputChar1" class="input_caption col-sm-4 col-form-label ">Количество в наличии :</label>
                        <div class="col-sm-7">
                          <input type="number" class="w-100 input_placeholder_style form-control " id="inputChar1" placeholder="">
                        </div>
                      </div>
                      <div class="form-group row mb-2">
                        <label for="inputChar1" class="input_caption col-sm-4 col-form-label ">Цена :</label>
                        <div class="col-sm-7">
                          <input type="number" class="w-100 input_placeholder_style form-control " id="inputChar1" placeholder="">
                        </div>
                      </div>
                    </div>
                    <!--Price and quantity start-->
                    <div class="col-12 col-md-5 d-flex justify-content-center align-items-md-end">
                      <button  type="button" class="font-weight-bold custom-bttn btn-secondary mr-2 mb-2 rounded px-2 w-lg-75 w-100"> Добавить </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>


    <footer class="mt-5">
      <div class="container border-top border-bottom py-4">
        <div class="row">
          <div class="col-12 mb-4">
            <img src="css/img/logo.png" alt="">
          </div>

          <div class="col-12 col-lg-3"> <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p> </div>
          <div class="footer_links col-lg-3"> 
            <ul class="p-0 p-lg">
              <li> <a href="">Помощь</a></li>
              <li> <a href="">Оферта</a></li>
              <li> <a href="">Предложени</a></li>
            </ul>
          </div>

          <div class="footer_links col-12 col-lg-3"> 
            <ul class="p-0 p-lg">
              <li> <a href="">Доcтавка</a></li>
              <li> <a href="">Возврат</a></li>
              <li> <a href="">Как стать продавцом</a></li>
            </ul>
          </div>         
          <div class="footer_links col-12 col-lg-3"> 
            <ul class="p-0 p-lg">
              <li> <a href="">О нас</a></li>
              <li> <a href="">Тел: 992 9333</a></li>
              <li> <a href="">Тел: 223 23 09</a></li>
            </ul>
          </div>          
        </div>

        <div class="col-lg-2 col-8 col-md-5 mt-2 pl-0 d-flex justify-content-between">
          <a href="#"><img src="img/Facebook.svg" alt=""></a>
          <a href="#"><img src="img/Twitter.svg" alt=""></a>
          <a href="#"><img src="img/Google.svg" alt=""></a>
          <a href="#"><img src="img/Instagram.svg" alt=""></a>
        </div>
      </div>

      <div class="container mt-3 text-center">
        <div class="row" >
          <div class="col-12">
            <p class="copyright_text_footer">© Fason.tj. Все права защищены Любое копирование и воспроизведение текста, в том числе частичное и в любых формах, без письменного разрешения правообладателя запрещено.</p>
          </div>
        </div>
      </div>
    </footer>
       <!-- modal -->
       <div class="modal fade" id="enter_site" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md">
          <div class="modal-content">
            <div class="modal-header border-0">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
                <span aria-hidden="true"><img src="img/close icon.svg" alt=""> </span>
              </button>
            </div>
            <div class="modal-body">
              <div class="modal-required__head-txt  d-flex justify-content-center mb-3">
                <img class="text-center" src="./css/img/logo.png" alt="">
              </div>
              <div class="regist-on-site px-4 d-flex justify-content-center">   
                <form class="w-100">                   
                  <div class="input-group">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">+992</button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">+991</a>
                        <a class="dropdown-item" href="#">+772</a>
                        <a class="dropdown-item" href="#">+11</a>
                      </div>
                    </div>
                    <input type="text" class="form-control" aria-label="Text input with dropdown button">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div role="separator" class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                      </div>
                    </div>
                  </div>
                  
                  <div class="form-group row mt-4">
                    <div class="col-sm-12 ">
                      <p class="text-center sms-code__txt mb-2">Я получил СМС</p>
                      <input type="email" class="form-control" id="colFormLabel" placeholder="КОД">
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-required__head-txt d-flex justify-content-center mt-4">
                <h3 class="sms-timer__txt">0:59</h3>
              </div>

              <div class="mt-4">
                <p class="text-center mb-0 eror-sms__code">Если вы не получили СМС с кодом</p>
                <p class="text-center mb-0 eror-sms__code" ><a href="">Отправить код повторно </a></p>
              </div>

              <div class="privacy-policy__terms-of-use mt-3">
                <p class="text-center mb-0 eror-sms__code"><a href=""> Ознакомиться с пользовательским соглашением и полотикой конфиденциальности  </a></p>
              </div>

              <div class="d-flex justify-content-center mt-5">
                <button  type="button" class="text-center price-and-amount__buy-bttn custom-bttn btn-secondary rounded px-4">Вход</button>
              </div>

            </div>
            <div class="modal-footer border-0"></div>
          </div>
        </div>
      </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
  </body>
</html>